body {
    font-family: Tahoma, "sans-serif";
    color: #263238;
    background-color: #F1F5FF;
    overflow: hidden;
}

.VerticalFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.HorizontalFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.OptionsTable {
    text-align: left;
    table-layout: fixed;
    width: 100%;
    height: fit-content;

}

.InputDecoration {
    border-style: solid;
    border-color: #90A4AE;
    border-width: 3pt;
    background-color: #ECEFF1;
    margin: 0 0 0 0;
    height: 20pt;
    width: 100%;
}

.InputDecoration[type="checkbox"] {
    height: 20pt;
    width: 20pt;
}

.InputDecoration[disabled] {
    opacity: 0.8;
    background: #e5e5f7 repeating-linear-gradient(45deg, #c4c4ff, #c4c4ff 5px, #e5e5f7 5px, #e5e5f7 10px);
}

.LabelDecoration {
    margin: 0 0 0 0;
    height: 30px;
    font-weight: normal;
}

input[type="file"] {
    position: absolute;
    height: 212px;
    width: 212px;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
    z-index: 3;
}

#imagePreviewLabel {
    position: absolute;
    height: 212px;
    width: 212px;
    text-align: center;
    vertical-align: 100px;
    background-color: #e5edfd;
}

#imagePreviewLabel > div {
    margin: 85px auto;
}

.SettingsBlock {
    padding: 5pt;
    height: 150px;
}

.Emoji[sizefailure] {
    outline: 2pt dotted red;
    outline-offset: -1pt;
}

#imagePreview {
    object-fit: contain;
    height: 212px;
    width: 212px;
    z-index: 1;
}


#emojiTableContainer {
    margin: 0 auto 0 auto;
    width: fit-content;
}

.TopBlock {
    padding: 3px 3px 3px 3px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px #999DA9;
    background-color: #ffffff;
    margin-left: 13px;
    margin-right: 10px;
}

.Emoji {
    width: 48px;
    height: 48px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.emojiTable {
    border-collapse: collapse;
}

.SizeFailureSign {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 48px;
    top: 12px;
    height: 24px;
    z-index: 9999;
    background-color: #ECEFF1;
    vertical-align: middle;
    box-shadow: 0 5px 15px #999DA9;

}

#mainBlock {
    margin: auto;
}

#mainBlock > .HorizontalFlex {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}


#mainBlock > .VerticalFlex {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#imagePreviewBlock {
    width: 212px;
    height: 212px;
}


.OptionsTable > tbody > tr {
    height: 40px;

}

#imagePreviewLight {
    position: absolute;
    width: 212px;
    height: 212px;
    background-color: #e5edfd;
    z-index: 2;
    opacity: 0%;
    text-align: center;
    vertical-align: 100px;
}
#imagePreviewLight > div {
    margin: 85px auto;
}
#imagePreviewBox:hover  #imagePreviewLight {
    background-color: #d5e2fa;
    opacity: 70%;
}


#downloadButton {
    width: 100%;
    height: 40px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    background-color: #e5edfd;
}

#downloadButton:hover {
    background-color: #d5e2fa;
}

.loader {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    pointer-events: none;

    left: 50%;
    right: 50%;
    transform: translate(-50%, -150px);
    width: 1250px;

    height: 2000px;
    z-index: -1;
    overflow-y: hidden;
}

.loader span {
    overflow-y: hidden;
    position: relative;
    pointer-events: none;
    z-index: -1;
    width: 100px;
    height: 100px;
    background: url("resources/emojies/peka.png");
    opacity: 0;
    animation: loader 20s infinite linear;
    animation-timing-function: ease-in-out;
}

@keyframes loader {
    0% {
        opacity: .05;
        -webkit-transform: translate(0, 0vh) rotateZ(0deg);
    }
    10% {
        opacity: .05;
    }
    70% {
        opacity: .05;
    }
    90% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 1000px) rotateZ(460deg);
    }
}
