body {
    font-family: Tahoma, "sans-serif";
    color: #263238;
    background-color: #ffffff;
}

.VerticalFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.HorizontalFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.OptionsTable {
    text-align: left;
    height: 100%;
}

#mainBlock {
    width: 800pt;
    margin: auto;
}

.InputDecoration {
    border-style: solid;
    border-color: #90A4AE;
    border-width: 3pt;
    background-color: #ECEFF1;
    margin: 0 0 0 0;
    height: 100%;
    width: 100pt;
}

.InputDecoration[disabled] {
    opacity: 0.8;
    background: #e5e5f7 repeating-linear-gradient(45deg, #c4c4ff, #c4c4ff 5px, #e5e5f7 5px, #e5e5f7 10px);
}

.LabelDecoration {
    margin: 0 0 0 0;
    height: 30px;
}

#fileInput {
    width: 150pt;
    height: 20pt;
}

#inputButton {
    position: relative;

    width: 128px;

    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #F44336;
    border-width: 0;
    border-style: none;

    overflow: hidden;
}

input[type="file"] {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 136pt;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
    z-index: 1;
}

.SettingsBlock {
    padding: 5pt;
    height: 150px;
}

.Emoji[sizefailure] {
    outline: 2pt dotted red;
    outline-offset: -1pt;
}

#imagePreview {
    object-fit: contain;
    height: 128px;
    width: 128px;
}


.Emoji {
    width: 30px;
    height: 30px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.emojiTable {
    border-collapse: collapse;
}

.SizeFailureSign {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 30px;
    top: 0;
    height: 30px;
    z-index: 9999;
    background-color: #ECEFF1;
}
